<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('header.ejs') -%>
        <style>
            .gradient-custom-3 {
                /* fallback for old browsers */
                background: #84fab0;

                /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
            }

            .gradient-custom-4 {
                /* fallback for old browsers */
                background: #84fab0;

                /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
            }

            .fa-brands {
                margin-top: 7px;
                margin-right: 15px;
            }
        </style>
</head>

<body>
    <section class="vh-100 bg-image"
        style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="d-flex justify-content-center p-5 ">
                    <div class="col-4 mt-5 border border-dark rounded p-2">
                        <h1>Welcome </h1>
                        <h1>
                            <%= locals.item %>
                        </h1>
                        <div class="d-flex justify-content-start">
                            <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                <a class="text-decoration-none" href="/">Logout</a></button>
                        </div>
                    </div>
                    <div class="col-8 mt-5 d-flex justify-content-end">
                        <form action="/tweets" method="POST">
                            <textarea class="border-dark rounded" name="inputtext" id="inputtext" oninput="countword(this)" placeholder="Text here..."
                                cols="80" rows="4"></textarea>
                                <p id="wordcount">0</p>
                            <div class="d-flex justify-content-end">
                                <button type="submit" value="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Share</button>
                            </div>
                        </form>
                    </div>
                </div>

                <% if (textdata.length> 0 ) { %>
                    <div class="mt-5 ml-5 ">
                        <h1>
                            <%= locals.list %>
                        </h1>
                        <% for( let i=0; i < textdata.length; i++ ) { %>
                            <form action="/tweets" method="POST">
                                <textarea class="border-dark rounded" name="inputtext" id="item-<%= i %>" placeholder="Text here..."
                                    cols="50" rows="2" ><%= locals.textdata[i] %></textarea>
                                    <!-- <button onclick="deleteTextarea('<%= i %>')">Delete</button> -->
                            </form>
                            <form action="/delete" method="post">
                                <input type="hidden" name="index" value="<% i %>" />
                                <button type="submit" name="">Delete</button>
                            </form>
                            <% } %>
                                <% } else { %>
                                    <p>No existing data.</p>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>

    <script>
        function countword(textarea){
            var text = textarea.value.trim();
            var words = text.match(/\b\w+\b/g);
            <!-- var words = text.split(/\s+/); -->
            var wordcount = words ? words.length : 0;
            document.getElementById("wordcount").textContent = "Word count: " + wordcount;
        }
    </script>
 </body>

</html>