<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Twitter Clone</title>
    <%- include('header.ejs') -%>
        <!-- <link rel="stylesheet" href="style/style.css"> -->

</head>

<body>
    <div class="container">
        <div class="col-1 menu">
            <a id="hcl" href="/"><i class="fa fa-brands fa-x-twitter"></i></a>
            <a href="/"><i class="fa fa-solid fa-home"></i></a>
            <a href="/search"><i class=" fa fa-search"></i></a>
            <a class="profile_icon" href="/profile"><img src="../image/download (1).jpg" alt="" /></a>
        </div>

        <div class="col-8">
            <div>
                <div>
                    <div class="foryou">
                        <p style="margin: 0;">For you</p>

                    </div>

                    <div class="profile pro_icon">
                        <img src="../image/download (1).jpg" alt="">
                        <form action="/index" method="POST">
                            <!-- <input type="text" name="name" placeholder="Your Name" required><br> -->
                            <input type="text" name="comment" placeholder="What's happening?" required /><br />
                            <button class="post-btn" type="submit">Post</button>
                        </form>
                    </div>
                    <% tweets.forEach(tweet=> { %>
                        <p>
                            <%= tweet.tweet %>
                        </p>
                        <% }) %>
                </div>

                <!-- <h1>Welcome to Twitter Clone</h1> -->
                <div class="name">
                    <div class="pro_img">
                        <img src="../image/download (1).jpg" alt="">
                    </div>
                    <div class="name11">
                        <div class="name12">
                            <div class="name1">
                                <!-- <h3>content</h3> -->
                                <div style="color:#fff;">
                                    <%= name %> <i class="icon fa fa-regular fa-circle-check"></i>
                                </div>
                                <div>@</div>
                                <div>hour</div>
                            </div>
                            <div>...</div>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <%= tweets.content %>
                                        Lorem ipsum dolor sit amet consectetur.
                                </p>
                            </div>
                        </div>
                        <div class="name12">
                            <div class="icons">
                                <!-- <h3>like comment post</h3> -->
                                <div><i class="fa fa-regular fa-comment"></i><span>4.5k</span></div>
                                <div><i class="fa fa-solid fa-retweet"></i><span>13k</span></div>
                                <div>
                                    <% tweets.forEach(function(tweet) { %>
                                        <form action="/like" method="POST">
                                            <input type="hidden" name="tweetId" value="<%= tweet._id %>">
                                            <button type="submit"><i class="fa fa-regular fa-heart"></i></button>
                                        </form>
                                        <%= tweet.likes %>
                                            <% }); %>
                                </div>
                                <div><i class="fa fa-solid fa-chart-simple"></i><span>22k</span></div>
                            </div>
                            <div class="name12">
                                <div><i style="margin-right: 8px;" class="fa fa-regular fa-bookmark"></i></div>
                                <div><i class="fa fa-solid fa-arrow-up-from-bracket"></i></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="name">
                    <div class="pro_img">
                        <img src="../image/download (1).jpg" alt="">
                    </div>
                    <div class="name11">
                        <div class="name12">
                            <div class="name1">
                                <!-- <h3>content</h3> -->
                                <div style="color:#fff;">
                                    <%= name %> <i class="icon fa fa-regular fa-circle-check"></i>
                                </div>
                                <div>@</div>
                                <div>hour</div>
                            </div>
                            <div>...</div>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <%= tweets.content %>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                        <div class="name12">
                            <div class="icons">
                                <!-- <h3>like comment post</h3> -->
                                <div><i class="fa fa-regular fa-comment"></i><span>4.5k</span></div>
                                <div><i class="fa fa-solid fa-retweet"></i><span>13k</span></div>
                                <div>
                                    <% tweets.forEach(function(tweet) { %>
                                        <form action="/like" method="POST">
                                            <input type="hidden" name="tweetId" value="<%= tweet._id %>">
                                            <button type="submit"><i class="fa fa-regular fa-heart"></i></button>
                                        </form>
                                        <%= tweet.likes %>
                                            <% }); %>
                                </div>
                                <div><i class="fa fa-solid fa-chart-simple"></i><span>22k</span></div>
                            </div>
                            <div class="name12">
                                <div><i style="margin-right: 8px;" class="fa fa-regular fa-bookmark"></i></div>
                                <div><i class="fa fa-solid fa-arrow-up-from-bracket"></i></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="name">
                    <div class="pro_img">
                        <img src="../image/download (1).jpg" alt="">
                    </div>
                    <div class="name11">
                        <div class="name12">
                            <div class="name1">
                                <!-- <h3>content</h3> -->
                                <div style="color:#fff;">
                                    <%= name %> <i class="icon fa fa-regular fa-circle-check"></i>
                                </div>
                                <div>@</div>
                                <div>hour</div>
                            </div>
                            <div>...</div>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <%= tweets.content %>
                                        Lorem ipsum dolor sit amet consectetur adipisicing.
                                </p>
                            </div>
                        </div>
                        <div class="name12">
                            <div class="icons">
                                <!-- <h3>like comment post</h3> -->
                                <div><i class="fa fa-regular fa-comment"></i><span>4.5k</span></div>
                                <div><i class="fa fa-solid fa-retweet"></i><span>13k</span></div>
                                <div>
                                    <% tweets.forEach(function(tweet) { %>
                                        <form action="/like" method="POST">
                                            <input type="hidden" name="tweetId" value="<%= tweet._id %>">
                                            <button type="submit"><i class="fa fa-regular fa-heart"></i></button>
                                        </form>
                                        <%= tweet.likes %>
                                            <% }); %>
                                </div>
                                <div><i class="fa fa-solid fa-chart-simple"></i><span>22k</span></div>
                            </div>
                            <div class="name12">
                                <div><i style="margin-right: 8px;" class="fa fa-regular fa-bookmark"></i></div>
                                <div><i class="fa fa-solid fa-arrow-up-from-bracket"></i></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="name">
                    <div class="pro_img">
                        <img src="../image/download (1).jpg" alt="">
                    </div>
                    <div class="name11">
                        <div class="name12">
                            <div class="name1">
                                <!-- <h3>content</h3> -->
                                <div style="color:#fff;">
                                    <%= name %> <i class="icon fa fa-regular fa-circle-check"></i>
                                </div>
                                <div>@</div>
                                <div>hour</div>
                            </div>
                            <div>...</div>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <%= tweets.content %>
                                       
                                </p>
                            </div>
                        </div>
                        <div class="name12">
                            <div class="icons">
                                <!-- <h3>like comment post</h3> -->
                                <div><i class="fa fa-regular fa-comment"></i><span>4.5k</span></div>
                                <div><i class="fa fa-solid fa-retweet"></i><span>13k</span></div>
                                <div>
                                    <% tweets.forEach(function(tweet) { %>
                                        <form action="/like" method="POST">
                                            <input type="hidden" name="tweetId" value="<%= tweet._id %>">
                                            <button type="submit"><i class="fa fa-regular fa-heart"></i></button>
                                        </form>
                                        <%= tweet.likes %>
                                            <% }); %>
                                </div>
                                <div><i class="fa fa-solid fa-chart-simple"></i><span>22k</span></div>
                            </div>
                            <div class="name12">
                                <div><i style="margin-right: 8px;" class="fa fa-regular fa-bookmark"></i></div>
                                <div><i class="fa fa-solid fa-arrow-up-from-bracket"></i></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Inside the tweet loop -->
            <div class="tweet">
                <% tweets.forEach(tweet=> { %>
                    <div>
                        <h3>
                            <%= tweet.name %>
                        </h3>
                        <p>
                            <%= tweet.content %>
                        </p>
                        <p>
                            <%= tweet.createdAt %>
                        </p>
                    </div>
                    <% }) %>
                        <!-- Comment button -->
                        <% tweets.forEach(tweet=> { %>
                            <div class="tweet">
                                <!-- Form for adding a new comment -->
                                <form action="/comment" method="POST">
                                    <input type="hidden" name="tweetId" value="<%= tweet._id %>">
                                    <input type="text" name="content" placeholder="Write a comment...">
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                            <% }) %>


            </div>
            <!-- <div>
            <form action="/tweets" method="POST">
                <input type="text" name="name" placeholder="Your Name" required><br>
                <textarea name="content" placeholder="What's happening?" required></textarea><br>
                <button type="submit">Tweet</button>
            </form>
            <% tweets.forEach(tweet=> { %>
                <div>
                    <h3>
                        <%= tweet.name %>
                    </h3>
                    <p>
                        <%= tweet.content %>
                    </p>
                    <p>
                        <%= tweet.createdAt %>
                    </p>
                </div>
                <% }) %>
           </div> -->
            <div>
                <ul>
                    <% tweets.forEach(function(tweet) { %>
                        <li>
                            <%= tweet %>
                        </li>
                        <li>
                            <%= tweet.author %>
                        </li>
                        <li>
                            <%= tweet.content %>
                        </li>
                        <li>
                            <%= tweet.comments %>
                        </li>
                        <% }); %>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <a href="/search" style="text-decoration: none;">
                <div class="search-box">

                    <i class="search-icon fa fa-solid fa-search"></i>
                    <input type="text" placeholder="Search" autocomplete="off">
                </div>
            </a>
            <div class="trending-color">
                <div class="trending">
                    <h3>What's happening</h3>

                    <% tweets.forEach(tweet=> { %>
                        <div class="trend">
                            <div>Trending in india</div>
                            <div class="dot">...</div>
                        </div>
                        <p> #MS Dhoni's fun interaction with Kieron Pollard and Dwayne Bravo.
                            <%= tweet.name%> <br>
                                <span class="content">5.13k posts</span>
                        </p>
                        <% }) %>
                            <% tweets.forEach(tweet=> { %>
                                <div class="trend content">
                                    <div>Trending in india</div>
                                    <div>...</div>
                                </div>
                                <p> #MP Board Class 10, 12 result 2024.
                                    <%= tweet.name%> <br>
                                        <span class="content">199k posts</span>
                                </p>
                                <% }) %>
                                    <% tweets.forEach(tweet=> { %>
                                        <div class="trend content">
                                            <div>Trending in india</div>
                                            <div>...</div>
                                        </div>
                                        <p> #JEE Main 2024 Paper 1 answer key objection window closes today.
                                            <%= tweet.name%> <br>
                                                <span class="content">1,289 posts</span>
                                        </p>
                                        <% }) %>
                                            <% tweets.forEach(tweet=> { %>
                                                <div class="trend content">
                                                    <div>Trending in india</div>
                                                    <div>...</div>
                                                </div>
                                                <p> #OnePlus Pad 2 launch timeline tipped, should you wait for it or buy OnePlus Pad.
                                                    <%= tweet.name%> <br>
                                                        <span class="content">5k posts</span>
                                                </p>
                                                <% }) %>
                                                    <% tweets.forEach(tweet=> { %>
                                                        <div class="trend content">
                                                            <div>Trending in india</div>
                                                            <div>...</div>
                                                        </div>
                                                        <p> #Android 15 beta 1 is finally here: List of features that come with the update.
                                                            <%= tweet.name%> <br>
                                                                <span class="content">1,637 posts</span>
                                                        </p>
                                                        <% }) %>
                </div>
            </div>
            <div class=" trending-color margin-follow">
                <h3>Who to follow</h3>

                <div class="follow">
                    <div class="sa">
                        <div class="menu"><a class="profile_icon" href="/profile"><img src="../image/download (1).jpg"
                                    alt="" /></a>
                        </div>
                        <div class="mar-right">
                            <div style="font-size: 13px;">VINI <i class="fa fa-regular fa-heart"> </i></div>
                            <div class="content">@NASA</div>
                        </div>
                    </div>
                    <div><button>Follow</button></div>
                </div>
                <div class="follow">
                    <div class="sa">
                        <div class="menu"><a class="profile_icon" href="/profile"><img src="../image/download (1).jpg"
                                    alt="" /></a>
                        </div>
                        <div class="mar-right">
                            <div style="font-size: 13px;">VINI <i class="fa fa-regular fa-heart"> </i></div>
                            <div class="content">@NASA</div>
                        </div>
                    </div>
                    <div><button>Follow</button></div>
                </div>
                <div class="follow">
                    <div class="sa">
                        <div class="menu"><a class="profile_icon" href="/profile"><img src="../image/download (1).jpg"
                                    alt="" /></a>
                        </div>
                        <div class="mar-right">
                            <div style="font-size: 13px;">VINI <i class="fa fa-regular fa-heart"> </i></div>
                            <div class="content">@NASA</div>
                        </div>
                    </div>
                    <div><button>Follow</button></div>
                </div>


                <% tweets.forEach(function(tweet) { %>
                    <p>
                        <%= tweet.profile %> <span>
                                <%= tweet.username %>
                            </span>
                    </p>
                    <% }); %>
            </div>
        </div>
    </div>


</body>

</html>